<div class="row">
	<div class="col">
		<NavLink class="nav-link" href="" Match="NavLinkMatch.All" ActiveClass="active">
			<span class="fas fa-map" aria-hidden="true"></span>
		</NavLink>
	</div>
	<div class="col">
		<NavLink class="nav-link" href="/chat" Match="NavLinkMatch.Prefix" ActiveClass="active">
			<span class="fas fa-comments" aria-hidden="true"></span>
		</NavLink>
	</div>
	<div class="col">
		<NavLink class="nav-link" href="/faq" Match="NavLinkMatch.All" ActiveClass="active">
			<span class="fas fa-question-circle" aria-hidden="true"></span>
		</NavLink>
	</div>
</div>