<div class="row">
	<div class="col">
		<NavLink class="nav-link" href="" Match="NavLinkMatch.All" ActiveClass="active">
			<span class="fas fa-home" aria-hidden="true"></span>
		</NavLink>
	</div>
	<div class="col">
		<NavLink class="nav-link" href="counter" ActiveClass="active">
			<span class="fas fa-plus-square" aria-hidden="true"></span>
		</NavLink>
	</div>
	<div class="col">
		<NavLink class="nav-link" href="weather" ActiveClass="active">
			<span class="fas fa-cloud-sun" aria-hidden="true"></span>
		</NavLink>
	</div>
</div>